<?xml version="1.0"?>
<model>
  <name>Custom VTOL</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <!-- <author>
   <name>Paul Gérard</name>
   <email>paul.gerard.1@ens.etsmtl.ca</email>
  </author> -->

  <description>
    This is a model of a custom tiltrotor VTOL.
  </description>
</model>
