<?xml version="1.0"?>
<model>
  <name>T2 cruza VTOL</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <!-- <author>
   <name>Paul Gérard</name>
   <email>paul.gerard.1@ens.etsmtl.ca</email>
  </author> -->

  <description>
    This is a model for the Heewing T2 cruza VTOL.
  </description>
</model>
