<?xml version="1.0" ?>
<model>
    <name>landing_platfrom_vertical_tags</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
   
      <author>
       <name>Paul GERARD</name>
       <email>paulgerard3005@gmail.com</email>
      </author>
    
    <description>Landing platfrom with vertical apriltags</description>
</model>

